.filter_widget select{
    padding: 8px 20px;
    border: 1px solid #0000;
    cursor: pointer;
    border-radius: 5px;
    background: #073f25d5;
    color:#fff;
}
.filter_widget select:focus{
    outline: none !important;
}
.filter_widget section option{
    font-size: 0.9rem;
}
.search_box{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #110f0f00;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 2px;
}
.search_box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}
